<div class="clients_overview">
  <h1 class="clients_overview_title">tax Overview</h1>
  <div class="clients_overview_list">
    <div class="clients_overview_item">
      <h1>Client Name</h1>
      <span class="clients_overview_item_avarage-settle">
        Client usually pays 5 days late
      </span>
      <span class="clients_overview_item_percentage-of-total">
        <span>Spent to date: £0000</span>
        <span>Client Value: 10% of sales</span>
      </span>
    </div>
    <div class="clients_overview_item">...</div>
    <div class="clients_overview_item">...</div>
    <div class="clients_overview_item">...</div>
  </div>
</div>
