<div class="invoice_list_pagination">
  <span class="invoice_list_pagination_newer">newer</span>
  <span>
    <span class="invoice_list_pagination--1">-1</span>
    <span class="invoice_list_pagination--2">-2</span>
    <span class="invoice_list_pagination--3">-3</span>
    <span class="invoice_list_pagination--4">-4</span>
    <span class="invoice_list_pagination--5">-5</span>
    <span class="invoice_list_pagination--6">-6</span>
    <span class="invoice_list_pagination--7">-7</span>
    <span class="invoice_list_pagination--8">-8</span>
  </span>
    <span class="invoice_list_pagination_older">older</span>
</div>
