<div class="invoice_list_item">
  <h1 class="invoice_list_item_client">Client: Stuff and Things</h1>
  <p class="nvoice_list_item_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <div class="button-group">
    <button class="invoice_list_item_edit">edit</button>
    <button class="invoice_list_item_send">Send</button>
    <button class="invoice_list_item_delete">delete</button>
  </div>
  <div class="invoice_list_item_details">
    <div class="invoice_list_item_issue-date">
      <h2>Issue Date</h2>
      <p>1/12/2015</p>
    </div>
    <div class="invoice_list_item_due-date">
      <h2>Due Date</h2>
      <p>7/12/2015</p>
    </div>
    <div class="invoice_list_item_total-amount">
      <h2>Total</h2>
      <p>£3000</p>
    </div>
    <div class="invoice_list_item_currency">
      <h2>Currancy</h2>
      <p>€ Euros</p>
    </div>
    <div class="invoice_list_item_tax">
      <h2>Tax</h2>
      <p>£1000</p>
    </div>
    <div class="invoice_list_item_net">
      <h2>Invoice Net</h2>
      <p>7 Days</p>
    </div>
  </div>
</div>
