<div class="invoice_filter">
  <span class="invoice_filter_date"><select name="" id=""></select></span>
  <span class="invoice_filter_payment-status"><select name="" id=""></select></span>
  <span class="invoice_filter_search"><input type="text" Search=""></span>
</div>
