<div class="tax_overview">
  <h1 class="tax_overview_title">tax Overview</h1>
  <div class="tax_overview_list">
    <div class="tax_overview_item">
      <h1>VAT <small>Due 22/12/2016</small></h1>
      <span class="tax_overview-payments-due--authority">
        <span>Spain: €0</span>
        <span>France: €0</span>
        <span>UK: €0</span>
      </span>
      <span class="tax_overview-payments-due">
        <span>Amount Due</span>
        <span>Due Date</span>
      </span>
    </div>
    <div class="tax_overview_item">...</div>
    <div class="tax_overview_item">...</div>
    <div class="tax_overview_item">...</div>
  </div>
</div>
